{% extends "::base.html.twig" %}

{% block jumbotron %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Hello, world!</h1>
            <p>This is a template.</p>
            <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
        </div>
    </div>
{% endblock %}

{% block main %}
    Hello!
{% endblock %}
